        /*基本按钮*/
        .primary-btn
        {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;            
            font-size: 12px;            
            border: 1px solid #61666D;
            background-color: transparent;
            transform-origin: center;
            transition: .2s;
            cursor: pointer;
            padding: 9px;
        }

        /*按钮换一换*/
        .btn_change
        {
            position: absolute;
            top: 0;
            left: 95%;
            z-index: 2;
            transform: translate(10px);
        }

        .roll-btn
        {
            flex-direction: column;
            margin-left: 0;
            height: auto;
            width: 40px;
            padding: 9px;
        }
